.album-view {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    padding: 2rem;
    padding-top: 2rem;
    background-color: var(--color-bg);
    color: var(--color-text-primary);
    gap: 7rem;
    width: 100%;
    margin: auto;
}

.album-view__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
    gap: 1rem;
    max-width: 500px;
}

.album-view__image {
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    width: 200px;
    height: 200px;
    object-fit: cover;
}

.album-view__name {
    font-size: 2rem;
    font-weight: bold;
    color: var(--color-primary);
    text-align: center;
}

.album-view__artist {
    font-size: 1.2rem;
    color: var(--color-secondary);
    text-align: center;
}

.album-view__tracks-title {
    font-size: 1.5rem;
    color: var(--color-secondary);
    margin-bottom: 1rem;
    text-align: center;
}

.album-view__tracks-list {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;
    margin: 0;
    width: 800px;
    max-width: 800px;
    gap: 1rem;
}

.album-view__track-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-surface);
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    margin: 0;
}

.album-view__track-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3);
}

.album-view__track-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

.left {
    display: flex;
    align-items: center;
}

.favorite-heart-button {
    background: none;
    border: none;
    font-size: 1rem;
    cursor: pointer;
    color: var(--color-text-secondary);
    transition: color 0.3s ease;
    right: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
}

.album-view__track-name {
    font-size: 1rem;
    color: var(--color-text-primary);
    flex: 1;
    text-align: left;
    margin: 0;
}

.album-view__track-duration {
    font-size: 0.9rem;
    color: var(--color-text-secondary);
}

.album-view__track-audio {
    margin-top: 0.5rem;
    width: 100%;
}

.album-view__audio-container {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.back-button {
    background: rgba(255, 255, 255, 0.1);
    border: none;
    font-size: 1rem;
    cursor: pointer;
    color: var(--color-text-primary);
    padding: 0.5rem 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s ease, color 0.3s ease;
    margin: 0;
    border-radius: 3px;
}

.back-button:hover {
    background: rgba(255, 255, 255, 0.2); 
}


@media screen and (max-width: 768px) {
    .album-view {
        flex-direction: column;
        align-items: center;
        padding: 1rem;
        gap: 0;
    }

    .album-view__header {
        margin-bottom: 1rem;
    }

    .album-view__tracks-list {
        width: 100%;
        max-width: 100%;
    }
    
}